#pragma code_page(65001)
#include "resource.h"

STRINGTABLE
BEGIN
    IDS_SURNAME "Прізвище: Мерщанський"
    IDS_FACULTY "Факультет: Комп'ютерних наук"
    IDS_GROUP "Група: ПЗПІ-24-6"
    IDS_DISCIPLINE "Дисципліна: Операційні системи"
END